<div class="search-container">
    <input 
        type="text" 
        class="search-input"
        placeholder="Search by recipe title or by filters..."
        (keyup.enter)="onSearch()"
        [(ngModel)]="searchQuery"
    />
    <button class="search-filter-btn" (click)="onFilterOpen()">
        <img src="assets/images/icons/filter.png" alt="" class="filter-icon">
        Filters
    </button>
    <button class="search-btn" (click)="onSearch()">
        <img src="assets/images/icons/search.png" alt="" class="search-icon">
        Search
    </button>
</div>