@use '../../../styles/variables' as *;

.layout {
  display: flex;
  min-height: 100vh;
  background: $bg-primary;
  overflow: hidden;
}

.content-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.content {
  flex: 1;
  padding: 30px;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}