@use '../../../styles/variables' as *;

:host {
  display: block;
  width: 100%;
  height: 100%;
}

.layout {
  display: flex;
  height: 100vh;
  background: $bg-primary;
  overflow: hidden;
}

.content-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
}

.content {
  flex: 1;
  width: 100%;
  margin: 0 auto;
}