@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;
@use '../../../styles/forms';
@use '../../../styles/auth';

.login-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  overflow: hidden;
  @extend .auth-container;
}